Code/.idea/.name
Code/.idea/gradle.xml
Code/.idea/misc.xml
Code/.idea/runConfigurations.xml
Code/.idea/vcs.xml
Code/.idea/codeStyles/codeStyleConfig.xml
Code/.idea/codeStyles/Project.xml
Code/app/.gitignore
